
/* 
  Design & code by Raigo Lilleberg from Kreit!
  www.kreit.co
 */

 /* === === === === === === === === === === === === === === === */
 /*

   Contents:

   - BROWSER RESET
   - BASICS
   - GENERAL
   - HEADER
   - NAV
   - MAIN ( only repeating parts, mainly layout releated )
   - FOOTER
   - BITS & PEACES

 */
 /* === === === === === === === === === === === === === === === */



/* BROWSER RESET (mixted together from "Reset.css" and "Normalize.css")  */
/* === === === === === === === === === === === === === === === */

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, input, optgroup, select, textarea {
      margin: 0; 
      padding: 0; 
      border: 0; 
      -webkit-border-radius: 0; 
      -moz-border-radius:0; 
      border-radius: 0;
      border-style: none;
    }
    html {
      font-size: 16px;  
      line-height: 1;
      word-wrap: break-word;
    }
    html,
    body {
      width: 100%; 
      /*height: 100%; */
      min-height: 100%;
      -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box; 
      box-sizing: border-box;
    }
    body {
      -webkit-font-smoothing: antialiased; 
      -moz-osx-font-smoothing: grayscale; 
      -ms-text-size-adjust: 100%; 
      -webkit-text-size-adjust: 100%;
      /*overflow: auto;*/
    }
    *,
    :after,
    :before,
    ::after,
    ::before {
      -webkit-box-sizing: inherit; 
      -moz-box-sizing: inherit; 
      box-sizing: inherit; 
      border-style: solid;
      border-width: 0;
      text-decoration: inherit; 
      vertical-align: inherit;
    }
    * {
      -moz-box-sizing:border-box; 
      -webkit-box-sizing:border-box; 
      box-sizing:border-box; 
      margin: 0;
      padding: 0;
      -webkit-transition: all 60ms linear; 
      -moz-s: all 60ms linear; 
      -ms-transition: all 60ms linear; 
      -o-transition:all 60ms linear; 
      transition: all 60ms linear;
    }
    :root {
      -ms-overflow-style: -ms-autohiding-scrollbar; 
      overflow-y: scroll; 
      -webkit-text-size-adjust: 100%; 
      -ms-text-size-adjust: 100%; 
      text-size-adjust: 100%; 
      box-sizing: border-box; 
      cursor: default; 
      text-rendering: optimizeLegibility;
    }
    article,
    aside,
    footer,
    header,
    nav,
    section,
    figcaption,
    figure,
    main {
      display: block;
    }  
    figure {
      margin: 1em 40px;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
    fieldset {
      border: 0;
    }
      legend {
        box-sizing: border-box; 
        color: inherit; 
        display: table; 
        max-width: 100%; 
        padding: 0; 
        white-space: normal; 
      }
    img,
    div {
      display: block;
      border: 0; 
      border-style: none;
    }
    [hidden],
    audio:not([controls]),
    template {
      display: none
    }
    details,
    main {
      display: block;
    }
    summary {
      display: list-item;
    }
    button, 
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit;
      font-style: inherit;
      font-weight: inherit;
      line-height: inherit;
      color: inherit;
      background-color: transparent;
    }
    button {
      cursor: pointer;
    }
    button, 
    input {
      overflow: visible;
      text-transform: none;
    }
    input[type=number] {
      width: auto;
    }
    input[type=search] {
      -webkit-appearance: textfield;
    }
    input[type=search]::-webkit-search-cancel-button,
    input[type=search]::-webkit-search-decoration {
      -webkit-appearance: none
    }
    button,
    html [type="button"], 
    [type="reset"],
    [type="submit"] {
      -webkit-appearance: button; 
    }
    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }
    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
      outline: 1px dotted ButtonText;
    }
    [type="checkbox"],
    [type="radio"] {
      box-sizing: border-box; 
      padding: 0; 
    }
    [type="checkbox"] + label,
    [type="radio"] +label {
      cursor: pointer;      
    }
    [type="number"]::-webkit-inner-spin-button,
    [type="number"]::-webkit-outer-spin-button {
      height: auto;
    }
    [type="search"] {
      -webkit-appearance: textfield; 
      outline-offset: -2px; 
    }
    [type="search"]::-webkit-search-cancel-button,
    [type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
    }
    ::-webkit-file-upload-button {
      -webkit-appearance: button; 
      font: inherit; 
    }
    progress {
      display: inline-block;
      vertical-align: baseline;
    }
    pre,
    textarea {
      overflow: auto;
    }
    textarea {
      resize: vertical;
    }
    code, 
    kbd,
    pre,
    samp {
      font-family: monospace, monospace;
    }
    dfn {
      font-style: italic;
    }
    mark {
      background-color: #ff0;
      color: #000;
    }
    sub,
    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
    }
    sub {
      bottom: -0.25em;
    }
    sup {
      top: -0.5em;
    }
    b,
    strong {
      font-weight: bolder;
    }
    small {
      font-size: 75%;
    }
    [unselectable] {
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none;
    }
    abbr[title] {
      border-bottom: none; 
      text-decoration: underline;
      text-decoration: underline dotted; 
    }
    audio,
    canvas,
    iframe,
    img,
    svg,
    video {
      vertical-align: middle;
    }
    svg:not(:root) {
      overflow: hidden;
    }
    audio,
    video {
      display: inline-block;
    }
    audio:not([controls]) {
      display: none;
      height: 0;
    }
    canvas {
      display: inline-block;
    }
    hr {
      box-sizing: content-box;
      height: 0; 
      overflow: visible;
    }
    ol,
    ul {
      list-style: none;
    }
    select {
      -moz-appearance: none; 
      -webkit-appearance: none;
    }
    select::-ms-expand {
      display: none;
    }
    select::-ms-value {
      color: currentColor;
    }
    /*::-moz-selection {
      background-color: hsla(0, 0%, 90%, 1);
      color: hsla(0, 0%, 10%, 1);
      text-shadow: none;
    }
    ::selection {
      background-color: hsla(0, 0%, 90%, 1);
      color: hsla(0, 0%, 10%, 1);
      text-shadow: none;
    } */
    a {
      position: relative;
      background-color: transparent; 
      -webkit-text-decoration-skip: objects; 
      text-decoration: none; 
    }
      a:active,
      a:hover { /*Remove the outline on focused links when they are also active or hovered in all browsers*/
        outline-width: 0;
      }
    @media screen{[hidden~=screen] {
      display: inherit;
    }
    [hidden~=screen]:not(:active):not(:focus):not(:target) {
      clip:rect(0 0 0 0)!important;
      position:absolute!important;
    }
    template,
    [hidden] {
      display: none;
    }

/* === === === === === === === === === === === === === === === */



/* === === === === === === === === === === === === === === === */
/*

  COLOURS Shortcuts 
    I know, I know - why on earth, have you not heard of Sass, Less? 
    Those are known, but not yet mastered. Until then ...
   === === === === === === === === === === === === === === === 

    hsla: hue, sat, light, alpha;
    blue: hsla(240, 100%, 60%, 1); #3333ff

    grey-90 : hsla(0, 0%, 10%, 1);
    grey-50 : hsla(0, 0%, 50%, 1);
    grey-20 : hsla(0, 0%, 80%, 1);
    grey-10 : hsla(0, 0%, 90%, 1);
    grey-05 : hsla(0, 0%, 95%, 1);

*/
/* === === === === === === === === === === === === === === === */



/* BASICS */
/* === === === === === === === === === === === === === === === */

    html {
      
    }
    body {
      font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
      font-size: .813rem;
      font-weight: normal;
      color: hsla(0, 0%, 20%, 1);  
      /*background-color: hsla(240, 100%, 60%, 1);*/
    }

    ol, ul {
      display: flex;
      flex-direction: column;
    }
    br {
      /*display: block;
      height: .75vh;
      content: " ";*/
    }
    br.next-line {
      content: none;
    }
    h1 {
      font-size: 2.5rem;
      font-weight: 200;
      line-height: 1.15;
      letter-spacing: .1rem;
      margin-left: -1px;
      margin-bottom: 1.8rem;
    } 
    h2 {
      font-size: 1rem;
      /*margin-bottom: 1.25vh;*/
    }  
    h3  { 
      margin-bottom: 1rem;
      padding-top: .5rem;
      font-size: .6rem;
      font-weight: 500;
      letter-spacing: .2rem;
      text-transform: uppercase;
      border-top: .2px solid hsla(0, 0%,80%, 1);
    }
    h1, h2, h3 {

    }

    h4 {
      font-size: .625rem; 
      line-height: 1.5; 
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: .1rem;
      color: hsla(0, 0%, 65%, 1); 
    }

    p {
      font-size: 1.15rem;
      line-height: 1.4;
      position: relative;
      letter-spacing: .025rem;
      margin-bottom: 1rem;
    }
      p span {
        color: hsla(0, 0%, 50%, 1); 
      }
      p b {
        font-weight: 500;
      }

    /*small {
      font-size: .65rem;
      line-height: 1;
      letter-spacing: .25rem;
    }*/
    small {
      font-size: .813rem;
      line-height: 1.45;
      letter-spacing: .025rem;
    }

    a { 
      position: relative;
      -webkit-text-decoration-skip: ink;
      text–decoration–skip: ink;
      color: inherit; 
    }
      a:after {
        position: absolute;
        bottom: -0.1rem;
        left: 0;
        content: ' ';
        width: 100%;
        height: .05rem;
        background-color: hsla(0, 0%, 70%, 1); 
      }
    a:hover,
    a:active,
    a:focus {
      color: hsla(0, 0%, 0%, 1); 
    }
      a:hover:after {
        background-color: hsla(0, 0%, 0%, 1);  
      }
    a.no-link {      
      color: hsla(0, 0%, 70%, 1); 
      pointer-events: none;  
    }

/* === === === === === === === === === === === === === === === */



/* GENERAL */
/* === === === === === === === === === === === === === === === */

  ::-moz-selection {
    background-color: hsla(0, 0%, 30%, 1);  
    color: hsla(0, 0%, 100%, 1);
    text-shadow: none;
  }
  ::selection {
    background-color: hsla(0, 0%, 30%, 1);  
    color: hsla(0, 0%, 100%, 1);
    text-shadow: none;
  } 

  .content { 
    min-height: 100vh;
    /*background-color: white;*/
    /*overflow: auto;*/
  }

  header,
  nav,
  main,
  footer {
    position: relative;  
    margin: 0 auto;
  }

  textarea,
  input {
    padding: .875rem;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #262626;
    border-radius: .25rem;
    background-color: #f2f2f2;
  }
  .input,
  .textarea {
    margin-bottom: 1.5rem;
  }
  textarea::placeholder,
  input::placeholder {
    color: #ccc;
  }
  input {
    max-height: 2.75rem;
    font-size: 1rem;
    line-height: 1;
  }
  textarea {
    min-height: 5.5rem;
  }
  textarea[autoresize] {
    display: block;
    overflow: hidden;
    resize: none;
  }
  label {
    margin-bottom: .313rem;
    font-family: 'Rajdhani', sans-serif;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: .015rem;
    color: #666666;
    text-transform: uppercase;
  }
  textarea,
  input[type="text"],
  input[type="email"] {
    width: 100%;
    outline: none;
  } 

  img {
    max-width: 100%; 
  }

/* === === === === === === === === === === === === === === === */



/* HEADER */
/* === === === === === === === === === === === === === === === */

/* === === === === === === === === === === === === === === === */



/* NAV */
/* === === === === === === === === === === === === === === === */

  nav {
    width: 100%;
    margin-top: 6.25rem;
  } 
    nav li {
      display: inherit;
      margin-bottom: .35rem;
    }
    nav a {
      position: relative;
      /*padding: .75rem 1rem;*/
      padding: .6rem 1.5rem;
      width: 100%;
      letter-spacing: .025rem;
      text-decoration: none;
      color: hsla(0, 0%, 30%, 1); 
    }
      nav a:after {
        display: none;
      }
    nav a:hover {      
      /*font-weight: bold;*/
    }
    nav a:hover,
    nav a:active,
    nav a:focus {
      background-color: hsla(0, 0%, 93%, 1);
      border-radius: 4rem;
    }
    nav a:hover:before,
    nav a:active:before,
    nav a:focus:before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
      content: '→';
      font-weight: bold;
      color: hsla(0, 0%, 40%, 1); 
    }


/* === === === === === === === === === === === === === === === */



/* ASIDE - secondary navigation */
/* === === === === === === === === === === === === === === === */

  aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 14rem;
/*    min-width: 14rem;
    max-width: 20rem;*/
    min-height: 100vh;
    padding: 2rem 1rem;
    background-color: hsla(0, 0%, 95%, 1);
    z-index: 1;
  }

/* === === === === === === === === === === === === === === === */



/* MAIN */
/* === === === === === === === === === === === === === === === */

  main {
    position: relative;
  }

  .m-content {
    position: relative;
    margin: auto;
    /*margin-top: 8rem;*/
    margin-bottom: 60rem;
    margin-left: 24rem;
    /*padding: 4rem;*/
    width: 40%;
    min-width: 30rem;
    max-width: 45rem;
    /*width: calc(100% - 20rem);*/
    /*height: calc(100vh - 10rem);*/
  }

  .downloads {
    position: fixed;
    top: 5rem;
    right: 10rem;
    z-index: 99;
  }
  .downloads ul {
    flex-direction: row;
  }
  .downloads li {
    margin-right: .5rem;
  }
  .downloads li:last-child {
    margin-right: 0;
  }
  .download {
    position: absolute;
    top: 8.4rem;
    right: 0;
    display: flex;
  }
    .download svg {
      width: .8rem;
      height: .8rem;
      margin-left: .45rem;
      margin-bottom: .225rem;
    }
      .download-svg {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: none;
        stroke: #333333;
        stroke-width: .08rem;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }

    .downloads a,
    .download a {
      padding: .6rem 1.5rem;
      letter-spacing: .025rem;
      background-color: hsla(0, 0%, 93%, 1);
      border-radius: 4rem;
    }
    .downloads a:hover,
    .download a:hover {
      color: hsla(0, 0%, 100%, 1); 
      background-color: hsla(0, 0%, 30%, 1);      
    }
    .download a:hover .download-svg {
      stroke: hsla(0, 0%, 100%, 1);  
    }
    .downloads a:after,
    .download a:after {
      background-color: transparent;
    }

  .m-content .heading h1 {
    margin-bottom: 0;
  }
  .m-content > ul > li {
    padding-top: 8rem;
  }
  /*.m-content li p:last-child {
    margin-bottom: 0;
  }*/

  .m-content .no-content {
    color: hsla(0, 0%, 70%, 1); 
    pointer-events: none; 
  }

  #logo {
    position: relative;
  }
    .logo-mark {

    }
    .logo-mark a svg {
      width: 50%;
      fill: #e10000;
    }
    .logo-mark a:after {
      display: none;
    }
    .logo-mark a:hover svg {
      fill: #ff6666;
    }

  #colour {

  }
  #colour ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
  }
    .colour-box {
      display: flex;
      margin-bottom: .75rem;
      margin-right: .75rem;
      width: 6rem;
      height: 3rem;
      border-radius: 4px;
    }
    .colour-box p {   
      margin: auto;
      font-family: 'Rajdhani', sans-serif;
      font-size: 1rem;
      line-height: 1;
      font-weight: 500;
      /*color: #fff;*/
    }
      .cb-01 {
        color: #fff;
        background-color: #e10000;
      }
      .cb-02 {
        color: #fff;
        background-color: #ff6666;
      }
      .cb-03 {
        color: #fff;
        background-color: #262626;
      }
      .cb-04 {
        color: #fff;
        background-color: #666666;
      }
      .cb-05 {
        color: #fff;
        background-color: #cccccc;
      }
      .cb-06 {
        color: #666666;
        background-color: #e6e6e6;
      }
      .cb-07 {
        color: #666666;
        background-color: #f2f2f2;
      }
      .cb-08 {
        color: #666666;
        background-color: #f7f7f7;
      }

  #typo {
    position: relative;
  }
  #typo p {
    width: 75%;
  }

    /* typography block */
      .typography-demo,
      .typography-sizes {
        margin-top: 2.5rem;
      }
      .typography-demo_link {
          position: absolute;
          top: .5rem;
          right: 0;
          letter-spacing: .025rem;
          color: hsla(0, 0%, 50%, 1);
      }
      .typography-demo li {
        position: relative;
        margin-bottom: 1.5rem;
      }
      .typography-demo li:last-child {
        margin-bottom: 0;
      }
        .typography-demo h1 {
          font-size: 1.65rem;
          letter-spacing: 0;
          margin-bottom: .35rem;
          border-bottom: 0.2px solid rgb(243, 243, 243);
        }
        .typography-demo p {
          letter-spacing: 0;
        }
        .rajdhani_regular h1,
        .rajdhani_regular p {
          font-family: 'Rajdhani', sans-serif;
          font-weight: 500;
        }
        .rajdhani_regular p {
          
        }
        .rajdhani_semibold h1,
        .rajdhani_semibold p {
          font-family: 'Rajdhani', sans-serif;
          font-weight: 600;
        }
        .rajdhani_semibold p {
          
        }

      .typography-sizes h3 span {
        color: #888;
      }
      .typography-sizes p {
        font-family: 'Rajdhani', sans-serif;
        margin-bottom: .25rem;
      }
      .typography-sizes p span {
        font-weight: 500;
      }
        .h1-b {
          font-size: 1.5rem;
          font-weight: 600;
        }
        .h2-b {
          font-size: 1rem;
          font-weight: 600;
        }
        .p-b {
          font-size: 1rem;
        }
        .btn-txt-01-b {
          font-size: 1rem;
          font-weight: 600;
        }
        .btn-txt-02-b {
          font-size: .875rem;
          font-weight: 600;
        }
        .lists-01-b {
          font-size: 1rem;
        }
        .lists-02-b {
          font-size: 1rem;
          font-weight: 600;
        }
        .labels-b {
          font-size: .75rem;
          font-weight: 600;
          text-transform: uppercase;
        }
        .h1-s {
          font-size: 1.25rem;
          font-weight: 600;
        }
        .h2-s {
          font-size: .875rem;
          font-weight: 600;
        }
        .p-s {
          font-size: .875rem;
        }
        .btn-txt-01-s {
          font-size: .875rem;
          font-weight: 600;
        }
        .btn-txt-02-s {
          font-size: .75rem;
          font-weight: 600;
        }
        .lists-01-s {
          font-size: .875rem;
        }
        .lists-02-s {
          font-size: .875rem;
          font-weight: 600;
        }
        .labels-s {
          font-size: .625rem;
          font-weight: 600;
          text-transform: uppercase;
        }


  /* icons */
  #icon {
    position: relative;
  }
    #icon ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    #icon li {
      display: flex;
      align-items: center;
      /*margin-right: .375rem;*/
      margin-bottom: .75rem;
    }
    /*#icon li,*/
    #icon li svg,
    .ico_radiobox .radio-out {
      margin-right: .75rem;
    }
      .ico_ankeedid svg,
      .ico_attachment svg,
      .ico_edit svg,
      .ico_guide svg,
      .ico_login-profile svg,
      .ico_logout svg,
      .ico_star svg,
      .ico_upload svg {
        fill: #262626;
        height: 1rem;
      }
      .ico_ankeedid svg:nth-child(2),
      .ico_ankeedid svg:nth-child(4),
      .ico_attachment svg:nth-child(2),
      .ico_attachment svg:nth-child(4),
      .ico_edit svg:nth-child(2),
      .ico_edit svg:nth-child(4),
      .ico_guide svg:nth-child(2),
      .ico_guide svg:nth-child(4),
      .ico_login-profile svg:nth-child(2),
      .ico_login-profile svg:nth-child(4),
      .ico_logout svg:nth-child(2),
      .ico_logout svg:nth-child(4),
      .ico_star svg:nth-child(2),
      .ico_star svg:nth-child(4),
      .ico_upload svg:nth-child(2),
      .ico_upload svg:nth-child(4)  {
        fill: #cccccc;
      }
      .ico_ankeedid svg:nth-child(3),
      .ico_ankeedid svg:nth-child(4),
      .ico_attachment svg:nth-child(3),
      .ico_attachment svg:nth-child(4),
      .ico_edit svg:nth-child(3),
      .ico_edit svg:nth-child(4),
      .ico_guide svg:nth-child(3),
      .ico_guide svg:nth-child(4),
      .ico_login-profile svg:nth-child(3),
      .ico_login-profile svg:nth-child(4),
      .ico_logout svg:nth-child(3),
      .ico_logout svg:nth-child(4),
      .ico_star svg:nth-child(3),
      .ico_star svg:nth-child(4),
      .ico_upload svg:nth-child(3),
      .ico_upload svg:nth-child(4)  {
        height: .75rem;
      }

      .ico_arrow-right svg {
        fill: #262626;
        height: .625rem;
      }
      .ico_arrow-right svg:nth-child(2),
      .ico_arrow-right svg:nth-child(4)  {
        fill: #cccccc;
      }
      .ico_arrow-right svg:nth-child(3),
      .ico_arrow-right svg:nth-child(4)  {
        height: .5rem;
      }
      
      .ico_arrow svg {
        fill: #262626;
        height: .5rem;
      }
      .ico_arrow svg:nth-child(2),
      .ico_arrow svg:nth-child(4)  {
        fill: #cccccc;
      }
      .ico_arrow svg:nth-child(3),
      .ico_arrow svg:nth-child(4)  {
        height: .313rem;
      }
      
      .ico_checkbox svg {
        fill: #e10000;
        height: .5rem;
      }
      .ico_checkbox svg:nth-child(2),
      .ico_checkbox svg:nth-child(4)  {
        fill: #cccccc;
      }
      .ico_checkbox svg:nth-child(3),
      .ico_checkbox svg:nth-child(4)  {
        height: .375rem;
      }    
      
      .radio-out {
        display: flex;
        width: .875rem;
        height: .875rem;
        background-color: #e10000;
      }
      .radio-in {
        margin: auto;
        width: .5rem;
        height: .5rem;
        background-color: #fff;
      }
      .ico_radiobox div {
        border-radius: 2rem;
      }
      .radio-out:nth-child(3),
      .radio-out:nth-child(4) {
        width: .625rem;
        height: .625rem;
      }
      .radio-out:nth-child(3) .radio-in,
      .radio-out:nth-child(4) .radio-in {
        width: .375rem;
        height: .375rem;
      }
      .radio-out:nth-child(2),
      .radio-out:nth-child(4) {
        background-color: #e6e6e6;
      }
      .radio-out:nth-child(2) .radio-in,
      .radio-out:nth-child(4) .radio-in {
        background-color: #cccccc;
      }

      .ico_email svg {
        fill: #262626;
        height: .75rem;
      }
      .ico_email svg:nth-child(2),
      .ico_email svg:nth-child(4)  {
        fill: #cccccc;
      }
      .ico_email svg:nth-child(3),
      .ico_email svg:nth-child(4)  {
        height: .625rem;
      }
      
      .ico_image svg {
        fill: #262626;
        height: .875rem;
      }
      .ico_image svg:nth-child(2),
      .ico_image svg:nth-child(4)  {
        fill: #cccccc;
      }
      .ico_image svg:nth-child(3),
      .ico_image svg:nth-child(4)  {
        height: .625rem;
      }
      
      .ico_info svg {
        fill: #262626;
        height: .625rem;
      }
      .ico_info svg:nth-child(2),
      .ico_info svg:nth-child(4)  {
        fill: #cccccc;
      }
      .ico_info svg:nth-child(3),
      .ico_info svg:nth-child(4)  {
        height: .5rem;
      }      
      
      .ico_plus svg {
        fill: #262626;
        height: .625rem;
      }
      .ico_plus svg:nth-child(2),
      .ico_plus svg:nth-child(4)  {
        fill: #cccccc;
      }
      .ico_plus svg:nth-child(3),
      .ico_plus svg:nth-child(4)  {
        height: .5rem;
      }    
      
      .ico_search svg {
        fill: #262626;
        height: 1.125rem;
      }
      .ico_search svg:nth-child(2),
      .ico_search svg:nth-child(4)  {
        fill: #cccccc;
      }
      .ico_search svg:nth-child(3),
      .ico_search svg:nth-child(4)  {
        height: .875rem;
      }  
      
      .ico_filter svg {
        fill: #262626;
        height: .688rem;
      }
      .ico_filter svg:nth-child(2),
      .ico_filter svg:nth-child(4)  {
        fill: #cccccc;
      }
      .ico_filter svg:nth-child(3),
      .ico_filter svg:nth-child(4)  {
        height: .5rem;
      }      
      
      .ico_x svg {
        fill: #262626;
        height: .625rem;
      }
      .ico_x svg:nth-child(2),
      .ico_x svg:nth-child(4)  {
        fill: #cccccc;
      }
      .ico_x svg:nth-child(3),
      .ico_x svg:nth-child(4)  {
        height: .5rem;
      }
  
  /*buttons*/
  #button {

  }  
  #button ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #button li {
    width: 24%;
    /*margin-right: .75rem;*/
    margin-bottom: .75rem;
  }
    .btn-l button {
      position: relative;
      display: flex;
      width: 100%;
      height: 2.5rem;
      border-radius: .25rem;
    }  
    .btn-l button p {
      margin: auto;
      font-family: 'Rajdhani', sans-serif;
      font-size: 1rem;
      font-weight: 600;
    }
    .btn-l button svg {
      position: absolute;
      top: 50%;
      right: .625rem;
      transform: translateY(-50%);
      height: .625rem;
      fill: #fff;
    }

      .btn-red-samples p {
        color: #fff;
      }
      .btn-red button {
        background-color: #e10000;
      }
      .btn-red button:hover {
        background-color: #c70000;
      }
      .btn-r-active button {
        background-color: #e10000;
      }
      .btn-r-hover button {
        background-color: #c70000;
      }
      .btn-r-non button {
        cursor: not-allowed;
        background-color: #cccccc;
      }

      .btn-black-samples p {
        color: #fff;
      }
      .btn-black button {
        background-color: #262626;
      }
      .btn-black button:hover {
        background-color: #666666;
      }
      .btn-b-active button {
        background-color: #262626;
      }
      .btn-b-hover button {
        background-color: #666666;
      }
      .btn-b-non button {
        cursor: not-allowed;
        background-color: #cccccc;
      }

      .btn-whitegrey-samples {
        margin-bottom: .75rem;
      }
      .btn-whiteblack-samples p {
        color: #262626;
      }
      .btn-whiteblack-samples button svg {
        fill: #262626;
      }
      .btn-whiteblack button,
      .btn-wb-active button,
      .btn-wb-hover button,
      .btn-wb-non button {
        border: 2px solid #262626;
      }
      .btn-whiteblack button {
        background-color: #fff;
      }
      .btn-whiteblack button:hover {
        border-color: #e6e6e6;
      }
      .btn-wb-active button {
        background-color: #fff;
      }
      .btn-wb-hover button {  
        border-color: #e6e6e6;
        background-color: #fff;
      }
      .btn-wb-non button {
        cursor: not-allowed;
        border-color: #e6e6e6;
        background-color: #fff;
      }
        .btn-wb-non button p {
          color: #ccc;
        }
        .btn-wb-non button svg {
          fill: #ccc;
        }

      .btn-whitegrey-samples p {
        color: #262626;
      }
      .btn-whitegrey-samples button svg {
        fill: #262626;
      }
      .btn-whitegrey button,
      .btn-wg-active button,
      .btn-wg-hover button,
      .btn-wg-non button {
        border: 2px solid #ccc;
      }
      .btn-whitegrey button {
        background-color: #fff;
      }
      .btn-whitegrey button:hover {
        border-color: #e6e6e6;
      }
      .btn-wg-active button {
        border-color: #ccc;
        background-color: #fff;
      }
      .btn-wg-hover button {  
        border-color: #e6e6e6;
        background-color: #fff;
      }
      .btn-wg-non button {
        cursor: not-allowed;
        border-color: #e6e6e6;
        background-color: #fff;
      }
        .btn-wg-non button p {
          color: #ccc;
        }
        .btn-wg-non button svg {
          fill: #ccc;
        }



/* === === === === === === === === === === === === === === === */



/* FOOTER */
/* === === === === === === === === === === === === === === === */
/* === === === === === === === === === === === === === === === */



/* BITS & PIECES */
/* === === === === === === === === === === === === === === === */
/* === === === === === === === === === === === === === === === */











