/*
  hi you! 🙌
  welcome to my humble journey of always learning. feel free to copy-edit-paste as you like. let me know if you find something useful, helpful. i do my best to cite origins of ideas and approaches that are not mine. 
  best, raigo!

  hi@raigo.design
  2026

  —

  appreciated resources:
  - svg clean-up: https://svgomg.net/ 
  - svg to data64 converter: https://www.svgviewer.dev/svg-to-data-uri 
  - favicon creator: https://realfavicongenerator.net/ 
  - png to webp converter: https://towebp.io/
  
*/



/* content list
=== === === === === === === === === === === === 

  - 00. global
  - 01. layout
  – 02. typography
  – 03. links
  – 04. buttons
  – 05. forms
  – 06. lists

  - 05. header & navigation
  - 06. main 
  - 07. footer

  ! also have a look at 'tokens.css'

*/



/* 00. global
=== === === === === === === === === === === === */

html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
::selection {
  background-color: var(--col-accent-300);
  color: var(--col-accent-900);
}
::-moz-selection {
  background-color: var(--col-accent-300);
  color: var(--col-accent-900);
}

body {
  background-color: var(--col-bg-page-light);
}


/* 01. layout
=== === === === === === === === === === === === */

.guides,
header,
section,
footer {
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

.wrap-wide {
  width: 100%;
  
}
.wrap-regular {
  max-width: calc(75rem);
  margin-left: auto;
  margin-right: auto;
}

/* 02. typography
=== === === === === === === === === === === === */

body, h1, h2, h3, h4, h5, h6, p,
figure, blockquote, dl, dd, a {
  font-family: "Inter", sans-serif;
  font-weight: var(--font-weight-sm);
  font-optical-sizing: auto;
  color: var(--col-txt-primary);
}

/* to improve text wrapping */
h1, h2, h3, h4 { 
  text-wrap: balance; 
} 

/* headings, titles */
h1 {
  margin-left: -3px;
  font-size: var(--font-size-xl);
  line-height: var(--font-line-sm);
  letter-spacing: var(--font-ltr-narrow);
}
h2 {
  font-size: var(--font-size-lg);
  line-height: var(--font-line-md);
  letter-spacing: var(--font-ltr-narrow);
}
h3 {
  font-size: var(--font-size-md);
  line-height: var(--font-line-md);
  letter-spacing: var(--font-ltr-narrow);
}
h4 {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-lg);
  line-height: var(--font-line-lg);
}

/* body */
p, a { 
  font-size: var(--font-size-sm); 
  text-wrap: pretty; /* to improve text wrapping */
}
p,
p a {
  line-height: var(--font-line-lg);
}
a p,
p a {
  display: inline-flex;
  color: var(--col-link-txt-default);
  box-shadow: 0 1px 0 0 var(--col-link-border-default);
}
a:hover p,
p a:hover {
  color: var(--col-link-txt-hover);
  box-shadow: 0 1px 0 0 var(--col-link-border-hover); /* offset-x | offset-y | blur | spread | color */
}
a:active p,
p a:active {
  color: var(--col-link-txt-active);
  box-shadow: 0 1px 0 0 var(--col-link-border-active);
}

/* styling the secondary, in brackets, text */
.secondary-text {
  color: var(--col-txt-secondary);
}



/* 04. buttons
=== === === === === === === === === === === === */

button,
a.btn {
  display: inline-flex;
  align-items: center;
  height: clamp(3rem, 2.9489rem + 0.2273vw, 3.125rem);
  padding-left: var(--space-fluid-6);
  padding-right: var(--space-fluid-6);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-sm);
  line-height: var(--font-line-xs);
  border-radius: var(--rad-base);
  /* doesn't show in firefox, safari (as of jan, 2026) */
  /* corner-shape: squircle;  */
  text-decoration: none;
  cursor: pointer;
}

/* primary */
.btn-primary {
  background-color: var(--col-action-primary-bg-default);
  color: var(--col-action-primary-txt-default);
}
.btn-primary:hover {  
  background-color: var(--col-action-primary-bg-hover);
  /* scale: .975; */
}

/* secondary */
.btn-secondary {
  background-color: var(--col-action-secondary-bg-default);
  color: var(--col-action-secondary-txt-default);
}
.btn-secondary:hover {  
  background-color: var(--col-action-secondary-bg-hover);
  /* scale: .975; */
}



/* 05. header & navigation
=== === === === === === === === === === === === */

header {
  padding-top: var(--space-fluid-18);
  padding-bottom: var(--space-fluid-36);
}

nav {
  margin-bottom: var(--space-fluid-36);
}
nav > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.logo-raigo {
  position: relative;
  width: 6.375rem;
  height: 1.625rem;
}
.logo-raigo svg {
  fill: var(--col-neutral-900);
}
.logo-raigo:hover svg {
  fill: var(--col-neutral-600);
}
.logo-rai-min,
.logo-rai-full {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 1.625rem;
  fill: var(--col-neutral-900);
  transition: opacity var(--trans-duration-normal) ease-out var(--trans-duration-slow), visibility var(--trans-duration-normal) ease-out var(--trans-duration-slow); /* property duration timing-function delay */
}
.logo-rai-min {
  margin-top: .03125rem;
  opacity: 1;
  visibility: visible;
}
.logo-rai-full {
  opacity: 0;
  visibility: hidden;
}
@media only screen and (min-width: 26.5rem) {
  .logo-rai-min {
    opacity: 0;
    visibility: hidden;
  }
  .logo-rai-full {
    opacity: 1;
    visibility: visible;
  }
}

/* navigation links */
.nav-link-group {
  display: flex;
  gap: var(--space-fluid-6);
}
.nav-link {
  padding-bottom: .375rem;
}

.head-msg {
  width: 100%
}
.head-msg-txt {
  width: 100%;
}
.head-msg-txt h1 {
  margin-bottom: var(--space-fluid-9);
}
@media only screen and (min-width: 50rem) {
  .head-msg-txt {
    width: calc(100% / 12 * 10); /* covering 10 column width */
  }
}



/* 06. main
=== === === === === === === === === === === === */

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* case studies */
.case-studies {
  padding-top: var(--space-fluid-30);
  padding-bottom: var(--space-fluid-30);
  background-color: var(--col-surface-tertiary);
}
.case-studies > * {
  display: flex;
  flex-direction: column;
}
/* case studies / visuals */
.cs-visuals {
  display: flex;
  margin-bottom: var(--space-9);
}
.cs-visual-01,
.cs-visual-02,
.cs-visual-03 {
  width: 10rem;
  transform-origin: center;
  transition: 
    transform var(--trans-duration-slow) ease-out, 
    margin-left var(--trans-duration-slow) ease-out, 
    margin-top var(--trans-duration-slow) ease-out;
}
.cs-visual-01 {
  margin-top: .25rem;
  transform: rotate(5deg);
}
.cs-visual-02 {
  margin-top: 0;
  margin-left: -4rem;
  transform: rotate(-2deg);
}
.cs-visual-03 {
  margin-top: .25rem;
  margin-left: -4rem;
  transform: rotate(1deg);
}
.cs-visuals img {
  border-radius: var(--rad-base);
  box-shadow: 0 0 0 .125rem var(--col-surface-tertiary);
}
/* case studies / list */
.cs-list-item {
  margin-bottom: var(--space-9);
}
.cs-list-item:last-child {
  margin-bottom: 0;
}
.cs-list-item h4 {
  margin-bottom: var(--space-2);
}
.cs-list-item :nth-child(2) {
  margin-bottom: var(--space-fluid-4);
}
@media only screen and (min-width: 50rem) {
  .case-studies > * {
    flex-direction: row;
    gap: calc(100% / 12 * 1);
  }
  .cs-visuals {
    width: calc(100% / 12 * 5);
  }
  .cs-visual-01,
  .cs-visual-02,
  .cs-visual-03 {
    width: clamp(12rem, 24vw, 18.75rem);
  }
  .cs-visual-01 {
    transform: rotate(-2.65deg);
  }
  .cs-visual-02 {
    margin-top: 5rem;
    margin-left: -13.5rem;
    transform: rotate(7.88deg);  
  }
  .cs-visual-03 {
    margin-top: 11rem;
    margin-left: -12rem;
    transform: rotate(2.69deg);  
  }
  .cs-list {
    width: calc(100% / 12 * 5);
  }
}
/* cta-ending */
.cta-ending {
  margin-top: auto;
  padding-top: var(--space-fluid-36);
  padding-bottom: var(--space-fluid-36);
}
.cta-ending h3 {
  margin-bottom: var(--space-fluid-9);
}
.cta-ending-buttons {
  display: flex;
  gap: var(--space-fluid-3);
}
@media only screen and (min-width: 50rem) {  
  .cta-ending h3 {
    width: calc(100% / 12 * 8);
  }
}



/* 07. footer
=== === === === === === === === === === === === */

footer {
  padding-bottom: var(--space-fluid-18);
}
footer > * {
  display: flex;
  flex-direction: column;
}
footer > * > :nth-child(1) {
  margin-bottom: var(--space-fluid-4);
}
footer .nav-link-group {
  gap: var(--space-fluid-4);
  flex-direction: column;
}
@media only screen and (min-width: 26.5rem) {
  footer > * {
    flex-direction: row;
    justify-content: space-between;
  }
  footer > * > :nth-child(1),
  footer .nav-link {
    margin-bottom: 0;
  }
  footer .nav-link-group {
    flex-direction: row;
    gap: var(--space-fluid-6);
  }
}

